*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Exclude Gradle directories
.gradle/
.nb-gradle/

# Exclude build directories
build/

.nb-gradle-properties
hs_err_pid*